*.o
*.a
*.so
*.bundle
*.lo
*.la
*.pc
*.status
*.log
*.obj
*.swp
*.exe
*.manifest
*.exp
.yardoc
/doc/
/*.dll
tmp
Gemfile.lock
Makefile
make/*/*
!make/unix-like/Makefile
!make/win32/Makefile
msvc/Release
msvc/Debug
msvc/*/*Debug/
msvc/*/*Release/
msvc/ipch/
msvc/*.suo
msvc/*.sdf
msvc/*.opensdf
ext/*.dll
ext/*/*.def
ext/Makefile
demo/*.dll
mpg123/autom4te.cache
mpg123/confdefs.h
mpg123/conftest.*
mpg123/unix2dos.c
mpg123/libtool
mpg123/src/.deps/
mpg123/src/config.h
mpg123/src/libmpg123/.deps/
mpg123/src/libmpg123/.libs/
mpg123/src/libmpg123/mpg123.h
mpg123/src/mpg123
mpg123/src/output/.deps/
mpg123/src/stamp-h1
!mpg123/ports/MSVC++/2010/libmpg123/yasm.exe
mpg123/ports/MSVC++/2010/libmpg123/Debug/
mpg123/ports/MSVC++/2010/libmpg123/Release/
win32api/concatenated.rb
